body{
    background-color: #007fc7;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#container{
    position: relative;/*definir o container como referência para os elementos filhos*/
    width: 800px;
    background-color: #ffffff;
    margin: 0 auto; /*centralizar container*/
    padding: 20px;
}

p{
    width: 350px;
    border: 1px solid red;
}

.absolute{
    position: absolute;
    border: 1px solid green;
    /*deslocamento*/
    top: 100px;
    right: 80px;
    background-color: #f2f2f2;
}

.chat{
    border: 1px solid blue;
    position: fixed;
    background-color: #f2f2f2;
    /*deslocamento */
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 2px;
}